body {
  margin: 0;
  border: 0;
  text-align: center;
}
div {
  }

.first_div {
  background-color: #b2ebf2;
  position: relative;
  padding-top: 50px;
}
.second_div {

}
.third_div {
background-color: #b2ebf2;
margin-bottom: 0px;
padding: 16px 0px;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin-top: 100px;
  margin-bottom: 0px;
}
h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
h3 {
  color: #66bfbf;
}
hr {
border-style: dotted;
border-width: 6px;
width: 5%;
border-bottom: 0px;
margin: 70px auto;
color: #eaf6f6;
}
a {
  margin: 10px 10px;
  color: #66bfbf;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.mnt {
  width: 35%;
}
.cld-1 {
  position: absolute;
  right: 300px;
  top: 10px;
}
.cld-2 {
  position: absolute;
  left: 300px;
}
.skill-row {
  width: 50%;
  margin: 80px auto;
  text-align: left;
  line-height: 2;
}
.profile {
  border-radius: 100px;

}
.self {
  width: 25%;
  margin: auto;
}
.web-img {
  float: left;
  margin-right: 20px;
}
.support-img {
float: right;
margin-left: 20px;
}
.copyright {
color: #eaf6f6;
font-size: 0.7rem;
}
.btn {
	-moz-box-shadow: 0px 0px 0px 2px #66bfbf;
	-webkit-box-shadow: 0px 0px 0px 2px #66bfbf;
	box-shadow: 0px 0px 0px 2px #66bfbf;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66bfbf), color-stop(1, #66bfbf) );
	background:-moz-linear-gradient( center top, #66bfbf 5%, #66bfbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#66bfbf');
	background-color:#66bfbf;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
text-indent:0;
	border:1px solid #66bfbf;
	display:inline-block;
	color:#eaf6f6;
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #283966;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66bfbf), color-stop(1, #66bfbf) );
	background:-moz-linear-gradient( center top, #66bfbf 5%, #66bfbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#66bfbf');
	background-color:#eabfbf;
}.btn:active {
	position:relative;
	top:1px;
